{% extends "Log_reg_temp.html" %}
{% block title %}sign-up{% endblock %}
{% block content %}

<div class="login-dark">
    <form id="signupForm" method="POST" action="/sign-up">
        <h2 class="sr-only">Sign Up Form</h2>
        <div class="illustration">
            <i class="icon ion-ios-unlocked-outline"></i>
        </div>

        <div class="form-group">
            <input class="form-control" type="email" id="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" id="phonenumber" name="phonenumber" placeholder="Phone number">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" id="username" name="username" placeholder="Name">
        </div>
        <div id="myPassword"></div>
        <div class="form-group">
            <input class="form-control" type="password" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" id="password1" name="password1" placeholder="Confirm Password">
        </div>

        <div class="form-group">
            <button class="btn btn-outline-primary btn-block" type="button" id="generateOTP">Generate OTP</button>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" id="otp" name="otp" placeholder="Enter OTP">
        </div>

        <div class="form-group">
            <button class="btn btn-outline-primary btn-block" id="login" type="submit">Register</button>
        </div>

        <a href="/login" class="Register">Already a member? - <span style="color: blue;"> Login </span></a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#generateOTP').click(function() {
            var email = $('#email').val();

            // Send request to generate OTP
            $.ajax({
                url: '/generate_otp',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ email: email }),
                success: function(response) {
                    alert(response.message); // Show success message
                },
                error: function(xhr, status, error) {
                    var errorMessage = xhr.responseJSON.message;
                    alert(errorMessage); // Show error message
                }
            });
        });
    });
</script>
{% endblock %}
